{% extends 'base_layout.html' %}

{% block content %}
<div class="article-detail">
    <div class="article">
        <img src="{{ article.thumb.url }}" />
        <h2>{{ article.title }}</h2>
        <p>{{ article.body }}</p>
        <p>{{ article.date }}</p>
        <p>{{article.tags.all|join:", "}}</p>
    </div>
</div>
{% if article.author == request.user %}
<div class="section-1" style="float: right;">
<a href="{% url 'articles:article_edit' id=article.id %}">
    <button type="button" class="btn btn-outline-success">Edit</button>
</a>
<a href="{% url 'articles:article_delete' id=article.id %}">
    <button type="button" class="btn btn-outline-success">Delete</button>
</a>
</div>
    {% endif %}

<br><br>
<hr>

<form method="article">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value = "submit" class="btn btn-outline-success">
</form>

<div class="main-comment-section">
    {{ comments.count }} Comment{{ comments|pluralize }}
    {% for comment in comments %}
    <blockquote class="blockquote">
       <p class="mb-0">{{ comments.content }}</p>
       <footer class="blockquote-footer">by <cite title="Source Title">{{ comment.user|capfirst }}</cite></footer>
    </blockquote>
    {% endfor %}

</div>

{% endblock %}