{% extends 'base_layout.html' %}

{% block content%}
<body>
    <div class="article-detail">
     <div class="article">
        <img src="{{ article.thumb.url }}" />
        <h2>{{ article.title }}</h2>
        <p>{{ article.body }}</p>
        <p>{{ article.date }}</p>
     </div>
    </div>

    <hr>


    <h1>Leave a Comment</h1>
    <p>Total No of Comments {{post.comments.count}}</p>
    <a href="{% url 'articles:add_comment' slug=post.slug}">Leave A Comment</a>
    {% for comment in post.comments.all %}
        <p>{{comment.created}}</p>
        <p>{{comment.user}}</p>
        <p>{{comment.body}}</p>
    {% empty %}
        <p> There is no comment </p>
    {% endfor %}




<body/>
{% endblock %}